body{
    background-color: brown;
    margin:0;
}
header{
    background-color: #FAF3E0;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav button{
    padding: 10px;
    background-color: #4E342E;
    border: 4px solid #3E2723;
    border-radius: 8px;
    color: #FAF3E0;
    width: 100px;
}